.Input {
  width: 5%;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  text-align: center;
  padding: 4px;
  font-weight: 800;
  font-size: 2rem;
  box-sizing: border-box;
}

.Title {
  font-weight: 800;
  font-size: 1.4rem;
  margin: 5px;
}
