.Header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
}

@media (max-width: 575px) {
  .Header {
    justify-content: center;
    padding: 0;
  }
}

.Header h2 {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin: 0;
  padding: 15px;
}
